body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color:rgb(240, 240, 240);
  


  
  
}

.landingpage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0% auto;
  width: 800px;
  background-color: white;
  border: solid black 1px;
  letter-spacing: 1px;
  /* background-color: rgb(240, 240, 240); */



 
  
}

.title {
  margin: 15%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 45px;
  position: relative sticky;
 
}

.product {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative sticky;
  padding: 5px;
  


}


.productBox {
  /* position: relative; */
 
  width: 300px;
  height: 300px;
  align-items: center;
  text-align: center;
  margin: 0% auto;
  perspective: 1000px;
  padding: 5px;
  
  
  
}
.flipinnerbox{
  position: relative;
  width: 70%;
  height: 70%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.productBox:hover .flipinnerbox{
  transform: rotateY(180deg);
}
.flipcardfront, .flipcardback{
  position: relative;
  width: 60%;
  height: 60%;
  backface-visibility: hidden;
  
  /* border: solid black 2px; */

}
.flipcardfront{

  /* height: 10px; */
  width: 200px;
  color: black;
  z-index: 1;
  

}
.flipcardback{
   /* background-color: grey; */
   width: 200px;
   margin: 20px;
   padding-top: 80px;
  
   transform: rotateY(360deg);
  z-index: 1; 
}
.productBox div {
  margin: 0% auto;
  /* margin-top: 2px;
  margin-bottom: 3px; */

  /* padding: 4px; */
  font-size: 15px;
  font-weight: 700px;
  /* background-color: rgb(233, 220, 220); */

  
  
}
.productBox img{


  width: 200px;
 


    
}
.productBox button{
  margin-top: 10px;
   border-radius: 10px;
    /* position: absolute;
   z-index: 9999; */
   
 

}

/* .productBox img:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
} */

