body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.landingpage {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  margin: 0% auto;
  width: 100%;
  letter-spacing: 1px;
  background-color:#ffffff;
  overflow: hidden;
  /* background-color: red; */
  
  
 
  
}
.allfilter{
  padding: 5px;
  margin: 0% auto;
  background: rgba(149,218,212,1);
  background: -moz-linear-gradient(top, rgba(149,218,212,1) 0%, rgba(149,218,212,1) 12%, rgba(149,218,212,0.99) 13%, rgba(149,218,212,0.74) 40%, rgba(149,218,212,0.58) 57%, rgba(164,223,218,0.53) 62%, rgba(252,252,252,0.53) 91%, rgba(255,255,255,0.53) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,218,212,1)), color-stop(12%, rgba(149,218,212,1)), color-stop(13%, rgba(149,218,212,0.99)), color-stop(40%, rgba(149,218,212,0.74)), color-stop(57%, rgba(149,218,212,0.58)), color-stop(62%, rgba(164,223,218,0.53)), color-stop(91%, rgba(252,252,252,0.53)), color-stop(100%, rgba(255,255,255,0.53)));
  background: -webkit-linear-gradient(top, rgba(149,218,212,1) 0%, rgba(149,218,212,1) 12%, rgba(149,218,212,0.99) 13%, rgba(149,218,212,0.74) 40%, rgba(149,218,212,0.58) 57%, rgba(164,223,218,0.53) 62%, rgba(252,252,252,0.53) 91%, rgba(255,255,255,0.53) 100%);
  background: -o-linear-gradient(top, rgba(149,218,212,1) 0%, rgba(149,218,212,1) 12%, rgba(149,218,212,0.99) 13%, rgba(149,218,212,0.74) 40%, rgba(149,218,212,0.58) 57%, rgba(164,223,218,0.53) 62%, rgba(252,252,252,0.53) 91%, rgba(255,255,255,0.53) 100%);
  background: -ms-linear-gradient(top, rgba(149,218,212,1) 0%, rgba(149,218,212,1) 12%, rgba(149,218,212,0.99) 13%, rgba(149,218,212,0.74) 40%, rgba(149,218,212,0.58) 57%, rgba(164,223,218,0.53) 62%, rgba(252,252,252,0.53) 91%, rgba(255,255,255,0.53) 100%);
  background: linear-gradient(to bottom, rgba(149,218,212,1) 0%, rgba(149,218,212,1) 12%, rgba(149,218,212,0.99) 13%, rgba(149,218,212,0.74) 40%, rgba(149,218,212,0.58) 57%, rgba(164,223,218,0.53) 62%, rgba(252,252,252,0.53) 91%, rgba(255,255,255,0.53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95dad4', endColorstr='#ffffff', GradientType=0 );
  width: 100vw;
  height: 70px;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: visible;
  

}
.allfilter > h3{
  padding: 5px;
  margin: 0% auto;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:#DF744A;
  display: inline-block;
  border-radius: 10px;
  text-shadow: 2px 2px 2px white;


}
.choose1{
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column; 
  border-radius: 10px;
  

  
  

}
.input{
  background-color: #DF744A;
  font-weight: bold;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 30px;
  left: 0;
  right: 0;
  
 

}
.input1{
  background-color: #DF744A;;
  font-weight:400px;
  color: white;
  font-size: 13px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  margin: 0 auto;

  
 

}
.input1:hover{
  
  background-color:#DCB239;
    border: 1px solid white;
  
}


.slick1{
  width: 90%;
  padding-bottom: 35px;
  margin: 0% auto;
  padding-left: 25px;
 
} 

/*product */
 .product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  margin: 0% auto;

  width: 90%;
  padding: 5px 5px 80px 5px;
  /* background: blue;
  border: solid black 2px; */

}  

.list-stuff {
  /* width: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.products{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* background: green;
  border: solid black 2px; */
  align-items: center;
  /* margin: 0% auto; */

  width: 25%;
  padding: 5px 5px 80px 5px;
 

}






/* works*/
.flip-card-front img{
  width: 200px;
  border-radius: 10px; 
  
}
.cardname{
  padding-top: 25px;
  word-wrap: break-word;
  width: 90%;
  padding-bottom: 2px;
  margin: 0% auto;
  text-align: center;
  color:  #DF744A;
  font-weight: bolder;
}
.flip-card button{
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 background-color:  #DF744A;
 color: white;
 padding: 3px;
 
 
  
}
.price{
  margin-top: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 color:  #DF744A;
 font-weight: bold;
}


.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  margin: 40px 40px 120px 40px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* padding: 15px; */

 /* border: solid red 2px; */


  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border: solid #BFD8D2 3px;
  box-shadow: 1px 1px 2px 2px #BFD8D2
}

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  color: black;
  transform: rotateY(180deg);
  border: solid #BFD8D2 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px #BFD8D2
  /* background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(191,216,210,1) 50%, rgba(255,255,255,0.8866508569610253) 99%); */
  /* background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 14%, rgba(254,220,210,1) 30%, rgba(254,220,210,1) 31%, rgba(254,220,210,0.65) 53%, rgba(254,220,210,0.48) 64%, rgba(255,241,238,0.3) 75%, rgba(255,255,255,0.3) 82%, rgba(255,255,255,0.3) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(14%, rgba(255,255,255,1)), color-stop(30%, rgba(254,220,210,1)), color-stop(31%, rgba(254,220,210,1)), color-stop(53%, rgba(254,220,210,0.65)), color-stop(64%, rgba(254,220,210,0.48)), color-stop(75%, rgba(255,241,238,0.3)), color-stop(82%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,0.3)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 14%, rgba(254,220,210,1) 30%, rgba(254,220,210,1) 31%, rgba(254,220,210,0.65) 53%, rgba(254,220,210,0.48) 64%, rgba(255,241,238,0.3) 75%, rgba(255,255,255,0.3) 82%, rgba(255,255,255,0.3) 100%); */
}

.backinfo{
  display: flex;
  justify-content: center;
  align-items: center;

  height:90%;
  color:  #DF744A;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  
}


@media only screen and (max-width: 700px){
  .landingpage{
    margin-top: -100px;
  }
  .allfilter{
    width: 100vw;
    margin: 0% auto;
  }
  .choose1{
    width: 50px;
    margin: 0% auto;
  }
  .input1{
    width: 60px;
    margin: 0% auto;
    font-size: 15px;
  }
  .input{
    width: 10px;
    position: absolute;
    transform: translate(0, 0px);
    transition: 2s;
    padding-right: 10px
  }
  .allfilter h3{
    font-size: 20px;
    transition:  translate(0, 50px);
    
  }
  .slick1{
   display: none
  }
  .list-stuff{
    width: 200px;
    margin: 0% auto;
    font-display: flex;
    justify-content: center;
    flex-direction: column;
  } 
  .flip-card-front{
    height: 100px;
  }
  .flip-card-back{
    height: 150px;
  }
  .flip-card-inner{
    height: 90px;
  }
  .cardname{
    width: 200px;
  }
  .list-stuff img{
    width: 100px;
  }
}