.cart{
    background-color:#ffffff;
    width: 90%;
    /* height: 50vh; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    /* padding: 200px; */
   
}
.cartCard{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
   border-top: solid #FEDCD2 3px;
   padding-top: 15px;
 
   color:  #DF744A;
   font-weight: bold;
   font-size: 20px;
   text-shadow: 2px 2px 2px rgb(218, 212, 212);
 


}


.cartCard > div{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    width: 20%;
    height: 25%;
    margin: 15px;
    text-align: center;
    padding: 5px;
    text-align: center;
    letter-spacing: 2px;
    /* background-color: blue; */
    word-wrap: break-word;
    
}
.cartCard img{
    width: 150px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    font-family: 'Courgette', cursive;
}
.primaryAddCart div{
    padding: 5px;
}
.primaryAddCart{
    border: red solid 2px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  #DF744A;
    font-weight: bold;
    font-size: 25px;
    width: 400px;
    margin-right: 200px;
    letter-spacing: 1.5px;
    background-color:#FEDCD2;
    border-radius: 10px;
    border: solid #DF744A 2px;
}
.totalAddress{
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0% auto;
    height: 400px;
}
.qty{
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #DF744A 1px;
    background-color: #FEDCD2;
    border-radius: 3px;
    
} 
.deleteButton{
    width: 50px;
    height: 35px;
    margin: 10px;
    background-color:#FEDCD2;
    text-align: center;
    
    border: solid #DF744A 1px;
    border-radius: 3px;

}

.totalbox{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    color:  #DF744A;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.5px;
    background-color:#FEDCD2;
    border-radius: 10px;
    border: solid #DF744A 2px;
}
.stripebutton{
    margin: 15px;
    border-radius: 10px;

    
}
.cartbutton button{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 10px;    
    background-color: #DF744A;
    text-align: center;
    box-shadow: 2px 2px 3px white;
   
}
.cartbutton{
    display: inline-block;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin: 0% auto;
    margin-left: 10%;
    margin-top: 10px;
   
}
.total{
    margin: 4px;
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .cart{
        margin: 0% auto;
    }
    .cartCard{
       font-size: 12px;
       display: flex;
       justify-content: center;
       align-content: center;
       flex-direction: column;
      
       margin: 0% auto;
    }
    .cartCard div:first-child{
       margin: 0 auto;
        
    }
    .cartCard div:nth-child(2){
        display: flex;
        justify-content: center;
        width: 80vw;
         
     }
     .cartCard div:nth-child(3){
        display: flex;
        justify-content: center;
        width: 80vw;
         
     }
     .cartCard div:nth-child(6){
        display: flex;
        justify-content: center;
        width: 80vw;
         
     }
    
     .cartCard button{
        display: flex;
        justify-content: center;
        width: 90vw;
        border: solid black 2px;
        margin: 0% auto;
        margin: 2px;

         
     }
     .primaryAddCart{
        display: flex;
        justify-content: center;
        width: 60vw;
        border: solid black 2px;
        margin: 0% auto;
        font-size: 20px;
     }
     .totalbox{
        display: flex;
        justify-content: center;
        width: 40vw;
        border: solid black 2px;
        margin: 0% auto;
     
     }
     .total{
         font-size: 12px;
     }
     .cartbutton button{
        display: flex;
        justify-content: center;
        width: 35vw;
        font-size: 12px;
       
        margin: 0% auto;

     }
     
    
}
