.productpage{
   padding: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 300px;
    color: blueviolet;
    font-size: 20px;
    margin: 0% auto;
   
}
.productBox{
    border: solid 2px black;
   
    width: 300px;
    padding: 10px;
    margin: 0% auto;

}

.productpage > img{
    width: 20px;
    
}