.addressbutton{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: #DF744A;
    text-align: center;
    box-shadow: 2px 2px 3px white;

}
.divide div{
    padding: 5px;
    /* background-color: blue; */
    width: 300px;
  
   
}


.editbutton button{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: #DF744A;
    margin-top: 20px;
    text-align: center;
    box-shadow: 2px 2px 3px white;
}

.inputAd input{
    background-color:  #FEDCD2;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    color: black;
    font-weight: bold;
}