.addressbutton{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: #DF744A;
    text-align: center;
    box-shadow: 2px 2px 3px white;

}
.divide div{
    padding: 5px;
    /* background-color: blue; */
    width: 300px;
  
   
}


.editbutton button{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: #DF744A;
    margin-top: 20px;
    text-align: center;
    box-shadow: 2px 2px 3px white;
}

.inputAd input{
    background-color:  #FEDCD2;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width:700px){
    .divide{
        margin: 0% auto;
        
        width: 70vw;
        font-display: 5px;
    }
    .editbutton button{
        margin: 0% auto;
        font-display: flex;
        justify-content: center;
        flex-direction: column;
        height: 30px;
        width: 70vw;
        margin-top: 15px;
    

    }
    .addressbutton{
        margin: 0% auto;
        font-display: flex;
        justify-content: center;
        flex-direction: column;
        height: 30px;
        width: 70vw;
        margin-top: 10px;
        
    }
    .divide div{
        margin: 0% auto;
        width: 40vw;
        
    }
    
    
    
}